*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FAFAFA;
  font-family: "Roboto", sans-serif;
}

main {
  padding: 0 7rem;
}

section {
  display: block;
}

header {
  display: block;
  position: relative;
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  padding: 0.3rem;
}

.recherche {
  text-align: center;
}
.recherche h2 {
  margin-top: 2rem;
  font-size: 40px;
}
.recherche p {
  font-size: 18px;
}
.recherche button {
  color: white;
  font-weight: bold;
  font-weight: 1.1rem;
  font-size: 16px;
  border-radius: 100px;
  background-color: #686868;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  padding: 1rem 1.5rem;
  border: 0;
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}

.ville {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #EAEAEA;
  text-align: center;
  padding: 0.3rem;
}
.ville i {
  font-size: 1.5rem;
}

.fonctionnement {
  counter-reset: etapes;
}
.fonctionnement ol {
  display: flex;
  gap: 2rem;
}
@media (max-width: 1024px) {
  .fonctionnement ol {
    flex-direction: column;
  }
}
.fonctionnement li {
  position: relative;
  list-style-type: none;
  background-color: #F6F6F6;
  padding: 1rem 2rem;
  border: 1px solid black;
  cursor: pointer;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.fonctionnement li::before {
  content: counter(etapes);
  counter-increment: etapes;
  color: white;
  background-color: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -0.75rem;
}
.fonctionnement i.fas {
  margin-right: 1rem;
  color: #7E7E7E;
}
.fonctionnement i.fas.fa-store {
  color: #9356DC;
}

.restaurants {
  height: 1190px;
  background-color: #FAFAFA;
}

@media screen and (min-width: 1024px) {
  .restaurants .restaurants {
    height: 700px;
  }
}
.restaurants .restaurants__titre {
  position: relative;
  margin: 0;
  padding: 55px 0 20px 0;
  text-indent: 6%;
  font-size: 1.5rem;
}

.restaurants .restaurants__navigation {
  height: 1070px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

@media screen and (min-width: 1024px) {
  .restaurants .restaurants__navigation {
    height: 550px;
  }
}
.restaurants .carte {
  height: 250px;
  width: 87%;
  display: inline;
  position: relative;
  border-radius: 20px;
  color: #000;
  background: #FFF;
  box-shadow: 0px 5px 10px 0px #b4b4b4;
}

@media screen and (min-width: 1024px) {
  .restaurants .carte {
    width: 45%;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants .carte:hover {
    animation: coup 2s ease-in 0.05s forwards;
  }
}
.restaurants .carte__lien {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 20px;
  background: #FFF;
  text-decoration: none;
}

.restaurants .carte__lien:link {
  color: #000;
}

.restaurants .carte__lien:visited {
  color: #000;
}

.restaurants .carte__lien--nouveau {
  width: 80px;
  position: absolute;
  right: 12px;
  top: 12px;
  padding: 6px 0;
  transform-origin: 10% 50%;
  border-radius: 2px;
  background-color: #99E2D0;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
  color: #278870;
}

.restaurants .carte__lien__image {
  height: 175px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.restaurants .carte__lien__titre {
  margin: 0;
  padding: 13px 0 0 0;
  font-size: 1.1rem;
  text-indent: 4%;
  font-weight: 600;
}

.restaurants .carte__lien__texte {
  margin: 0;
  padding: 5px 0 0 0;
  text-indent: 4%;
  font-size: 1.05rem;
  font-weight: 300;
}

.restaurants .carte__lien--selection {
  display: none;
}

.restaurants .carte__lien--selection:checked + .coeur .coeur--vide {
  animation: efface 0.5s linear forwards;
}

.restaurants .carte__lien--selection:checked + .coeur .coeur__filtre--plein {
  opacity: 1;
}

.restaurants .carte__lien--selection:checked + .coeur .coeur__filtre--plein {
  opacity: 1;
  z-index: 1;
  animation: grandi-bat 1.8s linear forwards;
}

@media screen and (min-width: 1024px) {
  .restaurants .carte__lien--selection:hover + .coeur .coeur--vide {
    animation: efface 0.5s linear forwards;
  }
  .restaurants .carte__lien--selection:hover + .coeur .coeur__filtre--plein {
    opacity: 1;
  }
  .restaurants .carte__lien--selection:hover + .coeur .coeur__filtre--plein {
    z-index: 1;
    opacity: 1;
    animation: grandi-bat 1.8s linear forwards;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants .carte:hover .carte__lien--nouveau {
    z-index: 1;
    animation: tombe 2s linear 0.05s;
  }
}
.restaurants .coeur {
  position: absolute;
  right: 10px;
  bottom: 20px;
}

.restaurants .coeur:hover {
  cursor: grab;
}

.restaurants .coeur--vide {
  padding: 13px 12.5px 12px 12.8px;
  font-size: 1.48rem;
}

.restaurants .coeur__filtre {
  position: absolute;
  right: 0px;
  top: 0px;
}

.restaurants .coeur__filtre--plein {
  position: absolute;
  padding: 12px 11px 12px 13px;
  font-size: 1.5rem;
  color: transparent;
  opacity: 0;
  transform-origin: 50% 50%;
  transform: scale(0);
  background: linear-gradient(200deg, #9356DC 35%, #FF79DA 65%);
}

.pied {
  height: 203px;
  margin-top: 30px;
  color: #FFF;
  background-color: #363636;
}
.pied__titre {
  padding-left: 90%;
  margin: 0;
  padding: 20px 0 10px 0;
  font-weight: 400;
  text-indent: 7%;
  font-size: 1.15rem;
  font-family: "Shrikhand", cursive;
}
.pied__liste {
  max-width: 300px;
  display: flex;
  flex-flow: row wrap;
  margin: 0 0 0 7%;
  padding: 0;
}
@media screen and (min-width: 1024px) {
  .pied__liste {
    max-width: unset;
    margin: 20px 0 0 0%;
  }
}
.pied__liste--element {
  padding: 0;
  margin: 0 25% 0 0;
  list-style-type: none;
}
@media screen and (min-width: 1024px) {
  .pied__liste--element {
    width: 18%;
    margin: 0 1% 0 6%;
  }
}
@media screen and (min-width: 1024px) {
  .pied__liste--element:hover {
    transform-origin: 50%;
    animation: virevolte 0.2s linear 1 forwards;
  }
}

.lien {
  display: block;
  margin: 0;
  padding: 5px 0 5px 0;
  color: #FFF;
  font-size: 0.95rem;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.lien:link {
  color: #FFF;
}

.lien:visited {
  color: #FFF;
}

.lien__icone {
  width: 18px;
  margin-right: 5px;
  font-size: 0.9rem;
}

/**PAGES RESTAURANTS**/
.lien {
  display: block;
  margin: 0;
  padding: 5px 0 5px 0;
  color: #FFF;
  font-size: 0.95rem;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.lien:link {
  color: #FFF;
}

.lien:visited {
  color: #FFF;
}

.lien__icone {
  width: 18px;
  margin-right: 5px;
  font-size: 0.9rem;
}

/*# sourceMappingURL=index.css.map */
