*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FAFAFA;
  font-family: "Roboto", sans-serif;
}

main {
  padding: 0 7rem;
}

section {
  display: block;
}
