
.lien {
    display: block;
    margin: 0;
    padding: 5px 0 5px 0;
    color: #FFF;
    font-size: 0.95rem;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
  }
  
  .lien:link {
    color: #FFF;
  }
  
  .lien:visited {
    color: #FFF;
  }
  
  .lien__icone {
    width: 18px;
    margin-right: 5px;
    font-size: 0.9rem;
  }
  
  /**PAGES RESTAURANTS**/
  .lien {
    display: block;
    margin: 0;
    padding: 5px 0 5px 0;
    color: #FFF;
    font-size: 0.95rem;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
  }
  
  .lien:link {
    color: #FFF;
  }
  
  .lien:visited {
    color: #FFF;
  }
  
  .lien__icone {
    width: 18px;
    margin-right: 5px;
    font-size: 0.9rem;
  }
  