.restaurants {
    height: 1190px;
    background-color: #FAFAFA;
  }
  @media screen and (min-width: 1024px) {
    .restaurants .restaurants {
      height: 700px;
    }
  }
  .restaurants .restaurants__titre {
    position: relative;
    margin: 0;
    padding: 55px 0 20px 0;
    text-indent: 6%;
    font-size: 1.5rem;
  }
  .restaurants .restaurants__navigation {
    height: 1070px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
  @media screen and (min-width: 1024px) {
    .restaurants .restaurants__navigation {
      height: 550px;
    }
  }
  .restaurants .carte {
    height: 250px;
    width: 87%;
    display: inline;
    position: relative;
    border-radius: 20px;
    color: #000;
    background: #FFF;
    box-shadow: 0px 5px 10px 0px #b4b4b4;
  }
  @media screen and (min-width: 1024px) {
    .restaurants .carte {
      width: 45%;
    }
  }
  @media screen and (min-width: 1024px) {
    .restaurants .carte:hover {
      animation: coup 2s ease-in 0.05s forwards;
    }
  }
  .restaurants .carte__lien {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 20px;
    background: #FFF;
    text-decoration: none;
  }
  .restaurants .carte__lien:link {
    color: #000;
  }
  .restaurants .carte__lien:visited {
    color: #000;
  }
  .restaurants .carte__lien--nouveau {
    width: 80px;
    position: absolute;
    right: 12px;
    top: 12px;
    padding: 6px 0;
    transform-origin: 10% 50%;
    border-radius: 2px;
    background-color: #99E2D0;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 500;
    color: #278870;
  }
  .restaurants .carte__lien__image {
    height: 175px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .restaurants .carte__lien__titre {
    margin: 0;
    padding: 13px 0 0 0;
    font-size: 1.1rem;
    text-indent: 4%;
    font-weight: 600;
  }
  .restaurants .carte__lien__texte {
    margin: 0;
    padding: 5px 0 0 0;
    text-indent: 4%;
    font-size: 1.05rem;
    font-weight: 300;
  }
  .restaurants .carte__lien--selection {
    display: none;
  }
  .restaurants .carte__lien--selection:checked + .coeur .coeur--vide {
    animation: efface 0.5s linear forwards;
  }
  .restaurants .carte__lien--selection:checked + .coeur .coeur__filtre--plein {
    opacity: 1;
  }
  .restaurants .carte__lien--selection:checked + .coeur .coeur__filtre--plein {
    opacity: 1;
    z-index: 1;
    animation: grandi-bat 1.8s linear forwards;
  }
  @media screen and (min-width: 1024px) {
    .restaurants .carte__lien--selection:hover + .coeur .coeur--vide {
      animation: efface 0.5s linear forwards;
    }
    .restaurants .carte__lien--selection:hover + .coeur .coeur__filtre--plein {
      opacity: 1;
    }
    .restaurants .carte__lien--selection:hover + .coeur .coeur__filtre--plein {
      z-index: 1;
      opacity: 1;
      animation: grandi-bat 1.8s linear forwards;
    }
  }
  @media screen and (min-width: 1024px) {
    .restaurants .carte:hover .carte__lien--nouveau {
      z-index: 1;
      animation: tombe 2s linear 0.05s;
    }
  }
  .restaurants .coeur {
    position: absolute;
    right: 10px;
    bottom: 20px;
  }
  .restaurants .coeur:hover {
    cursor: grab;
  }
  .restaurants .coeur--vide {
    padding: 13px 12.5px 12px 12.8px;
    font-size: 1.48rem;
  }
  .restaurants .coeur__filtre {
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .restaurants .coeur__filtre--plein {
    position: absolute;
    padding: 12px 11px 12px 13px;
    font-size: 1.5rem;
    color: transparent;
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(0);
    background: linear-gradient(200deg, #9356DC 35%, #FF79DA 65%);
  }