$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$couleur-bg: #FAFAFA;
$coul-bg: #FFF;
$couleur-footer: #363636;
$couleur-encre: #000;
$couleur-encre-sec: #FFF;
$ombre: #b4b4b4;
$size-un: 1rem;
$size-deux: 1.5rem;
$size-trois: 1.1rem;
$tablet-iphone: 1023px;
$desktop: 1024px;
$pourcent: 5%;